In [68]:
import numpy as np
import os  # For Saving to Folder
import pandas as pd
import matplotlib.pyplot as plt

import socket
import os as os
import sys as sys
import multiprocessing as mp
from pysam import AlignmentFile

### For Arial Font
from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'   # Set the defaul
### Make sure to have the font installed (it is on cluster for Harald)
rcParams['font.sans-serif'] = ['Arial']

socket_name = socket.gethostname()
print(socket_name)

if socket_name.startswith("compute-"):
    print("HSM Computational partition detected.")
    path = "/n/groups/reich/hringbauer/git/y_chrom/"  # The Path on Midway Cluster
    
elif socket_name.startswith("bionc"):
    print("Leipzig Cluster detected!")
    path = "/mnt/archgen/users/hringbauer/git/y_chrom/"
    
else:
    raise RuntimeWarning("Not compatible machine. Check!!")

os.chdir(path)  # Set the right Path (in line with Atom default)
# Show the current working directory. Should be HAPSBURG/Notebooks/ParallelRuns
print(os.getcwd())
print(f"CPU Count: {mp.cpu_count()}")
print(sys.version)

bionc21
Leipzig Cluster detected!
/mnt/archgen/users/hringbauer/git/y_chrom
CPU Count: 40
3.8.10 (default, Nov 22 2023, 10:22:35)
[GCC 9.4.0]

In [2]:
def load_counts(path_counts, coerce=True):
    """Load Count file and return Dataframe"""
    df_t = pd.read_csv(path_counts, header=None, delim_whitespace=True)
    df_t.columns = ["snp", "chr", "pos", "ref_all", "alt_all", "drop", "iid", "ref", "alt"]
    
    if coerce:
        for col in ["pos", "ref", "alt"]:
            df_t[col] = pd.to_numeric(df_t[col], errors="coerce")
            
    df_t = df_t.drop(columns="drop")
    return df_t

def load_snp_file_ISOGG(path_snps = "./data/all_snps.csv", 
                    col_pos = 'Build 37 Number', unique=True):
    """Return Dataframe in Eigenstrat Format,
    filtered for biallelic SNPs.
    unique: Whether to keep a """
    df_raw = pd.read_csv(path_snps)
    print(df_raw.columns)
    print(f"Loaded {len(df_raw)} SNPs")

    ### Process the positions
    pos = df_raw[col_pos]
    df_raw["pos"] = pd.to_numeric(pos, errors="coerce")

    idx = ~df_raw["pos"].isna()
    print(f"# Positions available: {np.sum(idx)}")
    df = df_raw[idx].reset_index(drop=True)
    df["pos"]=df["pos"].astype("int")

    idx_bi= (df["Mutation Info"].str.len()==4)
    print(f"# Biallelic SNPs: {np.sum(idx_bi)}")
    df = df[idx_bi].reset_index(drop=True)
    df["ref"] = df["Mutation Info"].str[0]
    df["alt"] = df["Mutation Info"].str[3]
    df["chrom"] = "Y"

    cols = ["Name", "chrom", "pos", "ref", "alt", 
            'Subgroup Name', 'Alternate Names', 'rs numbers']
    df = df[cols]
    df = df.replace(regex=[' ','\n'], value='_')
    ### Sort by position
    df = df.sort_values(by="pos")
    
    ### Keep only SNPs where Ref and Alt Different
    idx_same = (df["ref"]==df["alt"])
    df = df[~idx_same]
    print(f"# Ref & Alt different: {len(df)}")
    
    ### Keep only ACTG
    snps_acceptable = ["A", "C", "T", "G"]
    idx_ref = df["ref"].isin(snps_acceptable)
    idx_alt = df["alt"].isin(snps_acceptable)
    idx_both = idx_ref & idx_alt
    df = df[idx_both]
    print(f"# Ref & Alt ACTG: {len(df)}")
    
    ### Keep Unique Values
    if unique:
        idx_dup = df.duplicated(subset=["pos", "ref", "alt"], keep="first")
        df = df[~idx_dup]
        print(f"# Unique SNP positions: {len(df)}")
    
    ### Remove duplicate Names
    #idx_dup = df.duplicated(subset="Name", keep=False)
    #df = df[~idx_dup]
    #print(f"# Unique Names: {len(df)}")
    return df.copy().reset_index(drop=True)


################################################
### Calling Ys

def ref_alt_count(df_ch, bases=["A", "C", "G", "T"]):
    """Count Ref and Alt alleles in Dataframe df_ch
    with ref, alt, A, C, G, T fields and enter new columns
    ref# and alt#"""
    df_ch["ref#"]=0
    df_ch["alt#"]=0

    for p in bases:
        idx = df_ch["ref"] == p
        df_ch.loc[idx, "ref#"] = df_ch.loc[idx, p]

        idx = df_ch["alt"] == p
        df_ch.loc[idx, "alt#"] = df_ch.loc[idx, p]
    return df_ch

def pulldown_bamtable(path_bam = "", o_file = "",                   
                      bamtable = "/home/pruefer/bin/BamTable",
                      path_bed = "/mnt/archgen/users/hringbauer/git/y_chrom/data/isogg_snps.bed"):
    """Pulldown a BAM at path_bam to o_file using bamtable and the bed a path_bed."""
    !$bamtable -F -A -f $path_bed $path_bam > $o_file
    

def call_y_bam(path_bam="", df=[],
               path_bed = "/mnt/archgen/users/hringbauer/git/y_chrom/data/isogg_snps.bed",
               path_temp="/mnt/archgen/users/hringbauer/git/y_chrom/temp/temp.tsv"):
    """Creates the Call Table from a .bam file"""
    
    ### Create the Pulldown
    pulldown_bamtable(path_bam = path_bam,
                      path_bed = path_bed,
                      o_file = path_temp)

    df1 = pd.read_csv(path_temp, sep="\t", header=None)
    df1.columns = ["chrom", "pos", "A", "C", "G", "T"]
    df2 = pd.merge(df, df1, on=["chrom", "pos"])
    
    ### Coverage Statistics
    cov = df1[["A", "C", "G", "T"]].values
    cov1 = np.sum(cov, axis=1)
    print(f"Average Coverage: {np.sum(cov1)/len(df):.4f}x")
    print(f"#Sites covered: {np.sum(cov1>0)}/{len(df)}")
    
    ### Establish Ref and Alt allele
    df_ch = ref_alt_count(df2, bases=["A", "C", "G", "T"])

    ### Identify Derived    
    idx_der = df_ch["alt#"]>df_ch["ref#"]
    print(f"#Derived Loci: \n{np.sum(idx_der)} / {np.sum(cov1>0)} covered>0")
    
    df_der = df_ch[idx_der].sort_values(by="Subgroup Name").reset_index(drop=True).copy()
    
    return df_ch, df_der

### Load ISOGG SNPs

In [3]:
df = load_snp_file_ISOGG("./data/all_snps.csv")

Index(['Name', 'Subgroup Name', 'Alternate Names', 'rs numbers',
       'Build 37 Number', 'Build 38 Number', 'Mutation Info'],
      dtype='object')
Loaded 92035 SNPs
# Positions available: 91881
# Biallelic SNPs: 91814
# Ref & Alt different: 91811
# Ref & Alt ACTG: 91806
# Unique SNP positions: 73148

# Run Ancient Brienzi

In [34]:
%%time
df_ch, df_der = call_y_bam(df=df, 
                           path_bam="/mnt/archgen/users/hringbauer/data/brienziYcapture/A55903.bam") #A55903 and A55904

Average Coverage: 15.7615x
#Sites covered: 60398/73148
#Derived Loci:
1049 / 60398 covered>0
CPU times: user 258 ms, sys: 47.8 ms, total: 306 ms
Wall time: 6.97 s

In [35]:
df_der[-50:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
999,PF6419,Y,6912992,T,G,R1b1a1b,CTS623,NaN,0,0,16,0,0,16
1000,PF6508,Y,21993844,G,A,R1b1a1b,NaN,NaN,9,0,1,0,1,9
1001,PF6516,Y,22621843,G,T,R1b1a1b,M4435;_Z2129,NaN,0,0,0,3,0,3
1002,PF6421,Y,7220727,A,G,R1b1a1b,F69;_L773;_YSC0000276,NaN,0,0,5,0,0,5
1003,CTS6532,Y,16971648,T,G,R1b1a1b,PF6465,NaN,0,0,3,0,0,3
1004,PF6466,Y,17013730,G,A,R1b1a1b,YSC0000194,NaN,17,0,0,0,0,17
1005,E101,Y,17281258,T,G,R1b1a1b,M12191;_Y1271,NaN,0,0,50,0,0,50
1006,PF6467,Y,17132580,C,T,R1b1a1b,CTS6832,NaN,0,0,0,23,0,23
1007,PF6437,Y,9392948,C,T,R1b1a1b,NaN,NaN,0,0,0,13,0,13
1008,YSC0001293,Y,7073423,G,A,R1b1a1b,CTS894;_PF6420,NaN,6,0,0,0,0,6
1009,PF6509,Y,22190371,A,G,R1b1a1b,NaN,NaN,0,0,3,0,0,3
1010,CTS7400,Y,17461478,T,C,R1b1a1b,FGC33;_PF6469,NaN,0,26,0,0,0,26
1011,PF6430,Y,8070532,T,A,R1b1a1b,NaN,NaN,14,0,0,0,0,14
1012,CTS1415^^,Y,7391109,T,C,R1b1a1b,NaN,NaN,0,1,0,0,0,1
1013,PF6505,Y,21784286,G,A,R1b1a1b,L1350;_YSC0000225,NaN,41,0,0,0,0,41
1014,L1348,Y,23242935,G,C,R1b1a1b,PF6521;_YSC0000238,NaN,0,44,0,0,0,44
1015,PF6478,Y,18117193,C,T,R1b1a1b,CTS8627,NaN,0,0,0,35,0,35
1016,PF6265,Y,21554468,G,A,R1b1a1b,NaN,NaN,6,0,0,0,0,6
1017,CTS11468,Y,23124367,G,T,R1b1a1b,PF6520,NaN,0,0,0,16,0,16
1018,CTS8591,Y,18095336,A,C,R1b1a1b,PF6477,NaN,0,22,0,0,0,22
1019,PF6503,Y,21581064,C,T,R1b1a1b,NaN,NaN,0,0,0,1,0,1
1020,CTS11371,Y,23085375,C,G,R1b1a1b,NaN,NaN,0,0,14,0,0,14
1021,L749,Y,18047475,A,C,R1b1a1b,PF6476;_YSC0000290,NaN,0,68,0,0,0,68
1022,CTS1416^^,Y,7391110,G,A,R1b1a1b,NaN,NaN,1,0,0,0,0,1
1023,L1351,Y,24444622,C,T,R1b1a1b,PF6528;_YSC0000240,NaN,0,0,0,40,0,40
1024,FGC48,Y,17942143,G,A,R1b1a1b,CTS8336;_PF6474,NaN,5,0,0,0,0,5
1025,CTS8321,Y,17932763,C,T,R1b1a1b,NaN,NaN,0,0,0,4,0,4
1026,L762,Y,14079811,T,A,R1b1a1b,PF6450;_YSC0000258,NaN,8,0,0,0,0,8
1027,PF6429,Y,7971505,T,C,R1b1a1b,NaN,NaN,0,11,0,0,0,11
1028,FGC45,Y,17813541,C,T,R1b1a1b,CTS8052;_PF6473,NaN,0,0,0,7,0,7
1029,PF6435,Y,8667179,A,G,R1b1a1b,NaN,NaN,0,0,20,0,0,20
1030,PF6449,Y,14042701,C,T,R1b1a1b,CTS1738;_FGC55,NaN,0,0,0,3,0,3
1031,CTS1417,Y,7391117,T,C,R1b1a1b,M11798,NaN,0,1,0,0,0,1
1032,FGC40,Y,19462180,C,T,R1b1a1b,CTS10451;_PF6493,NaN,0,0,0,23,0,23
1033,S141,Y,6753511,G,A,R1b1a1b1,L23;_PF6534,NaN,32,0,0,0,0,32
1034,YSC0001291,Y,18096360,T,G,R1b1a1b1a,CTS8595,NaN,0,0,5,0,0,5
1035,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,15,0,0,0,0,15
1036,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,40,0,40
1037,YSC0000082,Y,9084870,G,T,R1b1a1b1a1,PF6540,NaN,0,0,0,49,0,49
1038,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,0,0,6,0,0,6
1039,FGC44,Y,17589518,C,T,R1b1a1b1a1,CTS7650;_PF6544,NaN,0,0,0,1,0,1
1040,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,30,0,0,0,30
1041,L151,Y,16492547,C,T,R1b1a1b1a1a,PF6542,NaN,0,0,0,20,0,20
1042,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,22,0,0,0,22
1043,PF6543,Y,16751825,G,A,R1b1a1b1a1a,S1159;_YSC0000191,NaN,8,0,0,0,0,8
1044,L132.2,Y,17464197,T,C,R1b1a1b1a1a1c1a2a1~,NaN,NaN,0,45,0,0,0,45
1045,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,64,0,0,0,0,64
1046,S250,Y,21380200,G,A,R1b1a1b1a1a2a,DF27,NaN,5,0,0,0,0,5
1047,CTS8704,Y,18157337,C,T,R1b1a1b1a1a2c1a5b1,S6375,NaN,0,0,0,1,0,1
1048,BY15552,Y,7270209,C,T,R1b1a1b1a1a2c1a5c4a3,NaN,NaN,0,0,0,2,0,2

In [41]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2a1"]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
39129,Z195,Y,17922066,G,A,R1b1a1b1a1a2a1,S227,NaN,0,0,55,0,55,0

In [51]:
%%time
df_ch, df_der = call_y_bam(df=df, 
                           path_bam="/mnt/archgen/users/hringbauer/data/brienziYcapture/A55904.bam") #A55903 and A55904

Average Coverage: 13.0144x
#Sites covered: 58128/73148
#Derived Loci:
998 / 58128 covered>0
CPU times: user 233 ms, sys: 16.7 ms, total: 249 ms
Wall time: 5.92 s

### 1)b) Run the second extract

In [51]:
%%time
df_ch, df_der = call_y_bam(df=df, 
                           path_bam="/mnt/archgen/users/hringbauer/data/brienziYcapture/A55904.bam")

Average Coverage: 13.0144x
#Sites covered: 58128/73148
#Derived Loci:
998 / 58128 covered>0
CPU times: user 231 ms, sys: 55.5 ms, total: 286 ms
Wall time: 5.69 s

In [52]:
df_der[-50:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
948,PF6427,Y,7863189,G,A,R1b1a1b,L482,NaN,8,0,0,0,0,8
949,PF6508,Y,21993844,G,A,R1b1a1b,NaN,NaN,1,0,0,0,0,1
950,FGC45,Y,17813541,C,T,R1b1a1b,CTS8052;_PF6473,NaN,0,0,0,1,0,1
951,CTS2466,Y,14317555,G,A,R1b1a1b,PF6453,NaN,15,0,0,0,0,15
952,FGC40,Y,19462180,C,T,R1b1a1b,CTS10451;_PF6493,NaN,0,0,0,14,0,14
953,PF6419,Y,6912992,T,G,R1b1a1b,CTS623,NaN,0,0,17,0,0,17
954,PF6478,Y,18117193,C,T,R1b1a1b,CTS8627,NaN,0,0,0,35,0,35
955,CTS10834,Y,22796697,T,C,R1b1a1b,NaN,NaN,0,11,0,0,0,11
956,PF6437,Y,9392948,C,T,R1b1a1b,NaN,NaN,0,0,0,5,0,5
957,CTS8591,Y,18095336,A,C,R1b1a1b,PF6477,NaN,0,7,0,0,0,7
958,PF6429,Y,7971505,T,C,R1b1a1b,NaN,NaN,0,2,0,0,0,2
959,PF6517,Y,22739367,T,C,R1b1a1b,M269,NaN,0,16,0,1,1,16
960,PF6421,Y,7220727,A,G,R1b1a1b,F69;_L773;_YSC0000276,NaN,0,0,10,0,0,10
961,PF6500,Y,21410840,G,T,R1b1a1b,NaN,NaN,0,0,0,3,0,3
962,V3993,Y,19291359,T,C,R1b1a1b,CTS10149;_PF6490,NaN,0,21,0,0,0,21
963,PF6449,Y,14042701,C,T,R1b1a1b,CTS1738;_FGC55,NaN,0,0,0,7,0,7
964,PF6435,Y,8667179,A,G,R1b1a1b,NaN,NaN,0,0,15,0,0,15
965,CTS11948,Y,23379254,G,A,R1b1a1b,FGC54;_PF6522,NaN,54,0,0,0,0,54
966,PF6507,Y,21983827,C,T,R1b1a1b,NaN,NaN,0,0,0,1,0,1
967,PF6497,Y,21222868,C,G,R1b1a1b,YSC0000219,NaN,0,0,18,0,0,18
968,L1348,Y,23242935,G,C,R1b1a1b,PF6521;_YSC0000238,NaN,0,67,0,0,0,67
969,PF6422,Y,7306539,C,G,R1b1a1b,CTS1274;_FGC34,NaN,0,0,11,0,0,11
970,CTS1421^^,Y,7391161,C,T,R1b1a1b,M8208^^;_PF6423^^,NaN,0,0,0,1,0,1
971,PF6430,Y,8070532,T,A,R1b1a1b,NaN,NaN,8,0,0,0,0,8
972,L757,Y,19054889,C,T,R1b1a1b,PF6488;_V3721;_YSC0000293,NaN,0,0,0,4,0,4
973,CTS7400,Y,17461478,T,C,R1b1a1b,FGC33;_PF6469,NaN,0,15,0,0,0,15
974,PF6462,Y,15740440,A,G,R1b1a1b,YSC0000180,NaN,0,0,2,0,0,2
975,CTS11468,Y,23124367,G,T,R1b1a1b,PF6520,NaN,0,0,0,14,0,14
976,YSC0001293,Y,7073423,G,A,R1b1a1b,CTS894;_PF6420,NaN,15,0,0,0,0,15
977,CTS11371,Y,23085375,C,G,R1b1a1b,NaN,NaN,0,0,2,0,0,2
978,PF6479,Y,18137831,T,C,R1b1a1b,CTS8665,NaN,0,35,0,0,0,35
979,PF6505,Y,21784286,G,A,R1b1a1b,L1350;_YSC0000225,NaN,29,0,0,0,0,29
980,PF6448,Y,14005779,G,A,R1b1a1b,NaN,NaN,1,0,0,0,0,1
981,M8209^^,Y,7391164,G,A,R1b1a1b,CTS1422^^,NaN,1,0,0,0,0,1
982,L407,Y,13887941,G,A,R1b1a1b,PF6252,NaN,9,0,0,0,0,9
983,F1794,Y,14522828,G,A,R1b1a1b,PF6455,NaN,11,0,0,0,0,11
984,S141,Y,6753511,G,A,R1b1a1b1,L23;_PF6534,NaN,9,0,0,0,0,9
985,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,25,0,0,0,0,25
986,YSC0001291,Y,18096360,T,G,R1b1a1b1a,CTS8595,NaN,0,0,3,0,0,3
987,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,0,0,20,0,0,20
988,YSC0000082,Y,9084870,G,T,R1b1a1b1a1,PF6540,NaN,0,0,0,43,0,43
989,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,13,0,0,0,13
990,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,2,0,2
991,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,33,0,0,0,33
992,L151,Y,16492547,C,T,R1b1a1b1a1a,PF6542,NaN,0,0,0,15,0,15
993,PF6543,Y,16751825,G,A,R1b1a1b1a1a,S1159;_YSC0000191,NaN,29,0,0,0,0,29
994,L132.2,Y,17464197,T,C,R1b1a1b1a1a1c1a2a1~,NaN,NaN,0,11,0,2,2,11
995,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,82,0,0,0,0,82
996,S250,Y,21380200,G,A,R1b1a1b1a1a2a,DF27,NaN,2,0,0,0,0,2
997,Z2773,Y,15596496,G,A,R2a2b1a,CTS4342,NaN,1,0,0,0,0,1

In [56]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2a1"]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
37816,Z195,Y,17922066,G,A,R1b1a1b1a1a2a1,S227,NaN,0,0,10,0,10,0

In [80]:
df_ch[df_ch["pos"]==8502236]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
288,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,54,0,0,0,0,54

### For Replication: Run Brienzi 1240k

In [40]:
%%time
df_ch, df_der = call_y_bam(df=df, 
                           path_bam="/mnt/archgen/users/hringbauer/brienzi/data/capture/A55903.bam")

Average Coverage: 1.1803x
#Sites covered: 16362/73148
#Derived Loci:
510 / 16362 covered>0
CPU times: user 148 ms, sys: 54.8 ms, total: 203 ms
Wall time: 1.68 s

In [33]:
df_der[-50:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
999,PF6419,Y,6912992,T,G,R1b1a1b,CTS623,NaN,0,0,16,0,0,16
1000,PF6508,Y,21993844,G,A,R1b1a1b,NaN,NaN,9,0,1,0,1,9
1001,PF6516,Y,22621843,G,T,R1b1a1b,M4435;_Z2129,NaN,0,0,0,3,0,3
1002,PF6421,Y,7220727,A,G,R1b1a1b,F69;_L773;_YSC0000276,NaN,0,0,5,0,0,5
1003,CTS6532,Y,16971648,T,G,R1b1a1b,PF6465,NaN,0,0,3,0,0,3
1004,PF6466,Y,17013730,G,A,R1b1a1b,YSC0000194,NaN,17,0,0,0,0,17
1005,E101,Y,17281258,T,G,R1b1a1b,M12191;_Y1271,NaN,0,0,50,0,0,50
1006,PF6467,Y,17132580,C,T,R1b1a1b,CTS6832,NaN,0,0,0,23,0,23
1007,PF6437,Y,9392948,C,T,R1b1a1b,NaN,NaN,0,0,0,13,0,13
1008,YSC0001293,Y,7073423,G,A,R1b1a1b,CTS894;_PF6420,NaN,6,0,0,0,0,6
1009,PF6509,Y,22190371,A,G,R1b1a1b,NaN,NaN,0,0,3,0,0,3
1010,CTS7400,Y,17461478,T,C,R1b1a1b,FGC33;_PF6469,NaN,0,26,0,0,0,26
1011,PF6430,Y,8070532,T,A,R1b1a1b,NaN,NaN,14,0,0,0,0,14
1012,CTS1415^^,Y,7391109,T,C,R1b1a1b,NaN,NaN,0,1,0,0,0,1
1013,PF6505,Y,21784286,G,A,R1b1a1b,L1350;_YSC0000225,NaN,41,0,0,0,0,41
1014,L1348,Y,23242935,G,C,R1b1a1b,PF6521;_YSC0000238,NaN,0,44,0,0,0,44
1015,PF6478,Y,18117193,C,T,R1b1a1b,CTS8627,NaN,0,0,0,35,0,35
1016,PF6265,Y,21554468,G,A,R1b1a1b,NaN,NaN,6,0,0,0,0,6
1017,CTS11468,Y,23124367,G,T,R1b1a1b,PF6520,NaN,0,0,0,16,0,16
1018,CTS8591,Y,18095336,A,C,R1b1a1b,PF6477,NaN,0,22,0,0,0,22
1019,PF6503,Y,21581064,C,T,R1b1a1b,NaN,NaN,0,0,0,1,0,1
1020,CTS11371,Y,23085375,C,G,R1b1a1b,NaN,NaN,0,0,14,0,0,14
1021,L749,Y,18047475,A,C,R1b1a1b,PF6476;_YSC0000290,NaN,0,68,0,0,0,68
1022,CTS1416^^,Y,7391110,G,A,R1b1a1b,NaN,NaN,1,0,0,0,0,1
1023,L1351,Y,24444622,C,T,R1b1a1b,PF6528;_YSC0000240,NaN,0,0,0,40,0,40
1024,FGC48,Y,17942143,G,A,R1b1a1b,CTS8336;_PF6474,NaN,5,0,0,0,0,5
1025,CTS8321,Y,17932763,C,T,R1b1a1b,NaN,NaN,0,0,0,4,0,4
1026,L762,Y,14079811,T,A,R1b1a1b,PF6450;_YSC0000258,NaN,8,0,0,0,0,8
1027,PF6429,Y,7971505,T,C,R1b1a1b,NaN,NaN,0,11,0,0,0,11
1028,FGC45,Y,17813541,C,T,R1b1a1b,CTS8052;_PF6473,NaN,0,0,0,7,0,7
1029,PF6435,Y,8667179,A,G,R1b1a1b,NaN,NaN,0,0,20,0,0,20
1030,PF6449,Y,14042701,C,T,R1b1a1b,CTS1738;_FGC55,NaN,0,0,0,3,0,3
1031,CTS1417,Y,7391117,T,C,R1b1a1b,M11798,NaN,0,1,0,0,0,1
1032,FGC40,Y,19462180,C,T,R1b1a1b,CTS10451;_PF6493,NaN,0,0,0,23,0,23
1033,S141,Y,6753511,G,A,R1b1a1b1,L23;_PF6534,NaN,32,0,0,0,0,32
1034,YSC0001291,Y,18096360,T,G,R1b1a1b1a,CTS8595,NaN,0,0,5,0,0,5
1035,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,15,0,0,0,0,15
1036,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,40,0,40
1037,YSC0000082,Y,9084870,G,T,R1b1a1b1a1,PF6540,NaN,0,0,0,49,0,49
1038,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,0,0,6,0,0,6
1039,FGC44,Y,17589518,C,T,R1b1a1b1a1,CTS7650;_PF6544,NaN,0,0,0,1,0,1
1040,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,30,0,0,0,30
1041,L151,Y,16492547,C,T,R1b1a1b1a1a,PF6542,NaN,0,0,0,20,0,20
1042,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,22,0,0,0,22
1043,PF6543,Y,16751825,G,A,R1b1a1b1a1a,S1159;_YSC0000191,NaN,8,0,0,0,0,8
1044,L132.2,Y,17464197,T,C,R1b1a1b1a1a1c1a2a1~,NaN,NaN,0,45,0,0,0,45
1045,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,64,0,0,0,0,64
1046,S250,Y,21380200,G,A,R1b1a1b1a1a2a,DF27,NaN,5,0,0,0,0,5
1047,CTS8704,Y,18157337,C,T,R1b1a1b1a1a2c1a5b1,S6375,NaN,0,0,0,1,0,1
1048,BY15552,Y,7270209,C,T,R1b1a1b1a1a2c1a5c4a3,NaN,NaN,0,0,0,2,0,2

In [31]:
dft = df_ch[df_ch["Subgroup Name"].str[0]==("G")]

a = np.sum(dft["alt#"])
r = np.sum(dft["ref#"])

a/(a+r)

0.0007489390030789714

### Run Shotgun Data

In [38]:
%%time
df_ch, df_der = call_y_bam(df=df, 
                           path_bam="/mnt/archgen/users/hringbauer/data/from_elena/210901_M06210_0360_000000000-JRRVW_JR_B53790_3_CervidsMT_HaraldRingbauerSamples/A52828.bam")

Average Coverage: 0.0028x
#Sites covered: 205/73148
#Derived Loci:
5 / 205 covered>0
CPU times: user 85.7 ms, sys: 58.6 ms, total: 144 ms
Wall time: 1.46 s

In [39]:
df_der[-50:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
0,Z40392,Y,15261255,C,T,BT,NaN,NaN,0,0,0,1,0,1
1,BY1406,Y,18161373,C,T,C2a1a1a,Z30573,NaN,0,0,0,1,0,1
2,FT22041,Y,15434480,G,C,G2a2b2a4b,NaN,NaN,0,1,0,0,0,1
3,PF3496,Y,7702973,T,A,IJK,M2683;_YSC0001318,NaN,1,0,0,0,0,1
4,M5577,Y,2757670,C,T,J1a3b~,PF1413;_V189,NaN,0,0,0,1,0,1

# 2) Run modern Huggler (Ind 1 from 2022)

In [81]:
%%time
p = "/mnt/archgen/users/hringbauer/data/brienziYcapture/huggler.bam"
p2 =  "/mnt/archgen/users/hringbauer/data/brienziYcapture/huggler2.bam"

df_ch, df_der = call_y_bam(df=df, 
                           path_bam=p2)

Average Coverage: 0.5878x
#Sites covered: 1045/73148
#Derived Loci:
57 / 1045 covered>0
CPU times: user 112 ms, sys: 24.7 ms, total: 137 ms
Wall time: 1.86 s

### Quick quality check
(Whether G SNPs are ancestral)

In [82]:
dft = df_ch[df_ch["Subgroup Name"].str.contains("G")]
s = np.sum(dft["alt#"].values) / np.sum(dft["alt#"].values + dft["ref#"].values)
print(f"Derived Frac: {s:.6f}")

cov = np.mean(dft["alt#"].values + dft["ref#"].values)
print(f"Average Coverage: {cov:.2f}x")

Derived Frac: 0.000228
Average Coverage: 42.23x

In [1]:
0.15 * 2000

300.0

In [83]:
df_der[-50:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
7,L1121,Y,14496448,G,A,A0-T,NaN,NaN,12,0,0,0,0,12
8,L1120,Y,14496439,G,T,A0-T,NaN,NaN,0,0,0,38,0,38
9,P305,Y,2710154,A,G,A1,NaN,NaN,0,0,18,0,0,18
10,V168,Y,17947672,G,A,A1,NaN,NaN,46,0,0,0,0,46
11,V221,Y,7589303,G,T,A1b,NaN,NaN,0,0,0,35,0,35
12,L1053,Y,18759708,C,A,A1b,NaN,NaN,9,0,0,0,0,9
13,M118,Y,21763965,A,T,A1b1b2b1,NaN,NaN,0,0,0,26,0,26
14,M9379,Y,23244049,G,C,BT,NaN,NaN,0,54,0,0,0,54
15,M42,Y,21866840,A,T,BT,NaN,NaN,0,0,0,29,0,29
16,SRY10831.1,Y,2657176,T,C,BT,NaN,NaN,0,27,0,0,0,27
17,L413,Y,6932831,G,A,BT,PF1409;_V31,NaN,43,0,0,0,0,43
18,P143,Y,14197867,G,A,CF,PF2587,NaN,107,0,0,0,0,107
19,PF1416,Y,14813991,C,T,CT,M168,NaN,0,0,0,28,0,28
20,M294,Y,22744945,C,T,CT,NaN,NaN,0,0,0,21,0,21
21,M116.2,Y,21765281,A,C,E_(Notes),NaN,NaN,0,1,0,33,0,1
22,P14,Y,17398598,C,T,F,PF2704,NaN,0,0,0,8,0,8
23,PF2746,Y,21917313,C,T,F,M89,NaN,0,0,0,107,0,107
24,F1329,Y,8589031,C,T,F,M3658;_PF2622;_YSC0001299,NaN,0,0,0,34,0,34
25,P137,Y,15526751,T,C,F,M213;_Page38;_PF2673,NaN,0,6,0,0,0,6
26,F929,Y,7202703,C,T,HIJK,M578;_PF3494;_S6378,NaN,0,0,0,29,0,29
27,M522,Y,7173143,G,A,IJK,L16;_PF3493;_S138,NaN,31,0,0,0,0,31
28,M9,Y,21730257,C,G,K,PF5506,NaN,0,0,19,0,0,19
29,M526,Y,23550924,A,C,K2,PF5979,NaN,0,90,0,0,0,90
30,PF5911,Y,16222561,C,T,K2b,M1221;_P331,NaN,0,0,0,41,0,41
31,P131,Y,15472863,C,T,K~,PF5493,NaN,0,0,0,20,0,20
32,PF5963,Y,21889767,G,A,P1~_or_K2b2a~,M74;_N12,rs2032635,3,0,0,0,0,3
33,PF5962,Y,21867787,G,A,P1~_or_K2b2a~,M45,rs2032631,16,0,0,0,0,16
34,S8,Y,7963031,T,G,P_or_K2b2,P295;_PF5866,rs895530,0,0,28,0,0,28
35,M207,Y,15581983,A,G,R,Page37;_UTY2,NaN,0,0,36,0,0,36
36,S1,Y,22750583,C,A,R1,M306;_PF6147,NaN,58,0,0,0,0,58
37,PF6112,Y,7570822,G,C,R1,P294,NaN,0,41,0,0,0,41
38,Page29,Y,15026424,A,C,R1,M173;_P241,NaN,0,49,0,0,0,49
39,M415,Y,9170545,C,A,R1b,PF6251,NaN,23,0,0,0,0,23
40,M343,Y,2887824,C,A,R1b,PF6242,NaN,84,0,0,0,0,84
41,PF6105,Y,21183643,A,G,R1b,L780;_YSC0000254,NaN,0,0,33,0,0,33
42,L389,Y,28733101,C,G,R1b1a,PF6531,NaN,0,0,3,0,0,3
43,L502,Y,19020340,G,C,R1b1a1,PF6487,NaN,0,67,0,0,0,67
44,P297,Y,18656508,G,C,R1b1a1,PF6398,NaN,0,70,0,0,0,70
45,PF6517,Y,22739367,T,C,R1b1a1b,M269,NaN,0,19,0,0,0,19
46,L757,Y,19054889,C,T,R1b1a1b,PF6488;_V3721;_YSC0000293,NaN,0,0,0,52,0,52
47,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,54,0,0,0,0,54
48,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,50,0,0,0,50
49,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,0,0,34,0,0,34
50,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,2,0,2
51,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,28,0,0,0,28
52,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,49,0,0,0,0,49
53,U152,Y,15333149,C,T,R1b1a1b1a1a2b,PF6570;_S28,NaN,0,0,0,53,0,53
54,Z146,Y,23627289,C,T,R1b1a1b1a1a2b3c,PF6584;_S483,NaN,0,0,0,72,0,72
55,S371,Y,16454755,G,T,R1b1a1b1a1a2b3c,PF6578;_Z145,NaN,0,0,0,57,0,57
56,Z144,Y,14544130,T,G,R1b1a1b1a1a2b3c,NaN,NaN,0,0,32,0,0,32

In [84]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2a"]

Empty DataFrame
Columns: [Name, chrom, pos, ref, alt, Subgroup Name, Alternate Names, rs numbers, A, C, G, T, ref#, alt#]
Index: []

In [85]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2b3c"]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
400,Z144,Y,14544130,T,G,R1b1a1b1a1a2b3c,NaN,NaN,0,0,32,0,0,32
587,S371,Y,16454755,G,T,R1b1a1b1a1a2b3c,PF6578;_Z145,NaN,0,0,0,57,0,57
1043,Z146,Y,23627289,C,T,R1b1a1b1a1a2b3c,PF6584;_S483,NaN,0,0,0,72,0,72

- R1b1a1b1a   R1b-L51 (old notation R1b1a1a2a1)
- R1b1a1b1a1a2: R1b-P312
 

Trifurcates into:

- R1b1a1b1a1a2a: DF27
- R1b1a1b1a1a2b: U152  
- R1b1a1b1a1a2c1: L21

Huggler:
- R1b1a1b1a1a2b3c
- R1b1a1b1a1a2b: U152

Brienzi:
- R1b1a1b1a1a2a (DF27)
- R1b1a1b1a1a2

### Pre-Processing Steps (1x needed)

In [ ]:
### Tool to change chrx -> x notation
!samtools view -h $p | sed 's/chr//g' | samtools view -Shb - -o $p2
!samtools index $p2
!samtools view -c $p
!samtools view -c $p2

# 3) Run modern Huggler (Ind 2 from January 2023)

### Optional Pre-Processing:
Change Huggler Y bam to ChrY notation

In [29]:
%%time 

### Tool to change chrx -> x notation
p = "/mnt/archgen/users/hringbauer/data/brienziYcapture/huggler23.bam"
p2 = "/mnt/archgen/users/hringbauer/data/brienziYcapture/huggler23b.bam"

!samtools view -h $p | sed 's/chr//g' | samtools view -Shb - -o $p2

CPU times: user 394 ms, sys: 110 ms, total: 504 ms
Wall time: 19.1 s

In [30]:
%%time 
### Now Index the file
!samtools index $p2

CPU times: user 30.8 ms, sys: 21 ms, total: 51.8 ms
Wall time: 2.06 s

In [31]:
!samtools view -c $p
!samtools view -c $p2

332338
332338

# Do the Y Chromosome Calling

In [86]:
%%time
p2 = "/mnt/archgen/users/hringbauer/data/brienziYcapture/huggler23b.bam"

df_ch, df_der = call_y_bam(df=df, 
                           path_bam=p2)

Average Coverage: 3.2344x
#Sites covered: 1108/73148
#Derived Loci:
62 / 1108 covered>0
CPU times: user 137 ms, sys: 72.9 ms, total: 210 ms
Wall time: 4.86 s

In [33]:
dft = df_ch[df_ch["Subgroup Name"].str[0]=="G"]
np.sum(dft["alt#"].values) / np.sum(dft["alt#"].values + dft["ref#"].values)

0.00019433324264448676

In [41]:
dft = df_ch[df_ch["Subgroup Name"].str[0]=="R"]
np.sum(dft["alt#"].values) / np.sum(dft["alt#"].values + dft["ref#"].values)

0.1524885804116984

In [34]:
dft = df_ch[df_ch["Subgroup Name"].str.contains("G")]
s = np.sum(dft["alt#"].values) / np.sum(dft["alt#"].values + dft["ref#"].values)
print(f"Derived Frac: {s:.6f}")

cov = np.mean(dft["alt#"].values + dft["ref#"].values)
print(f"Average Coverage: {cov:.2f}x")

Derived Frac: 0.000194
Average Coverage: 219.91x

In [87]:
df_der[-25:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
37,PF5963,Y,21889767,G,A,P1~_or_K2b2a~,M74;_N12,rs2032635,1,0,0,0,0,1
38,S8,Y,7963031,T,G,P_or_K2b2,P295;_PF5866,rs895530,0,0,45,0,0,45
39,M207,Y,15581983,A,G,R,Page37;_UTY2,NaN,0,0,40,0,0,40
40,PF6112,Y,7570822,G,C,R1,P294,NaN,0,169,0,0,0,169
41,S1,Y,22750583,C,A,R1,M306;_PF6147,NaN,35,0,0,0,0,35
42,Page29,Y,15026424,A,C,R1,M173;_P241,NaN,0,36,0,0,0,36
43,PF6105,Y,21183643,A,G,R1b,L780;_YSC0000254,NaN,0,0,32,0,0,32
44,M343,Y,2887824,C,A,R1b,PF6242,NaN,405,0,0,0,0,405
45,M415,Y,9170545,C,A,R1b,PF6251,NaN,95,0,0,0,0,95
46,L389,Y,28733101,C,G,R1b1a,PF6531,NaN,0,0,25,0,0,25
47,L502,Y,19020340,G,C,R1b1a1,PF6487,NaN,0,492,0,0,0,492
48,P297,Y,18656508,G,C,R1b1a1,PF6398,NaN,0,154,0,0,0,154
49,L757,Y,19054889,C,T,R1b1a1b,PF6488;_V3721;_YSC0000293,NaN,0,1,0,388,1,388
50,PF6517,Y,22739367,T,C,R1b1a1b,M269,NaN,0,19,0,0,0,19
51,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,433,0,0,0,0,433
52,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,386,0,0,0,386
53,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,0,0,607,0,0,607
54,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,7,0,7
55,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,421,0,0,0,421
56,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,346,0,1,0,0,346
57,U152,Y,15333149,C,T,R1b1a1b1a1a2b,PF6570;_S28,NaN,0,0,0,67,0,67
58,S371,Y,16454755,G,T,R1b1a1b1a1a2b3c,PF6578;_Z145,NaN,0,0,0,301,0,301
59,Z146,Y,23627289,C,T,R1b1a1b1a1a2b3c,PF6584;_S483,NaN,0,1,0,429,1,429
60,Z144,Y,14544130,T,G,R1b1a1b1a1a2b3c,NaN,NaN,0,0,243,0,0,243
61,L526,Y,17423470,T,C,R1b1a1b1a1a2c1a~,NaN,NaN,0,2,0,0,0,2

In [95]:
dft = df_ch[df_ch["Subgroup Name"].str.contains("R1b1a1b1a1a2a")]
dft

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
82,DF17,Y,6631746,T,G,R1b1a1b1a1a2a1a2,S455,NaN,0,1,0,157,157,0
556,S230,Y,15508140,T,G,R1b1a1b1a1a2a1a1,Z209,NaN,0,0,0,14,14,0
620,S356,Y,16310705,G,A,R1b1a1b1a1a2a1a1,Z220,NaN,0,0,159,0,159,0
621,Z262,Y,16320197,C,T,R1b1a1b1a1a2a1b1a,NaN,NaN,0,587,0,0,587,0
708,Z195,Y,17922066,G,A,R1b1a1b1a1a2a1,S227,NaN,0,0,194,0,194,0
710,Z216,Y,18021350,C,T,R1b1a1b1a1a2a1a1a1,NaN,NaN,0,589,0,0,589,0
793,Z224,Y,19179436,T,C,R1b1a1b1a1a2a7~,S453,NaN,0,0,0,143,143,0
920,S348,Y,21827794,A,C,R1b1a1b1a1a2a1a1a1a,Z214,NaN,6,0,0,0,6,0
1024,S229,Y,22293941,C,G,R1b1a1b1a1a2a1a,Z274,NaN,0,5,0,0,5,0
1069,L1246,Y,22974840,A,G,R1b1a1b1a1a2a~,S1285,NaN,9,0,0,0,9,0

In [92]:
df_ch[df_ch["Name"].str.contains("P312")]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
1013,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,346,0,1,0,0,346

# 4) Run modern Huggler (Ind 3 from Nov 2023)

### Pre-Processing

In [97]:
%%time 

### Tool to change chrx -> x notation
p = "/mnt/archgen/users/hringbauer/brienzi/data/huggler_y2/s23-14214.bam"
p2 = "/mnt/archgen/users/hringbauer/data/brienziYcapture/huggler23.iid3.bam"

CPU times: user 8 s, sys: 0 ns, total: 8 s
Wall time: 15.3 s

In [ ]:
!samtools view -h $p | sed 's/chr//g' | samtools view -Shb - -o $p2 # Rewrite chrx->x notation

In [24]:
%%time 
### Now Index the file
!samtools index $p2

CPU times: user 24.9 ms, sys: 18 ms, total: 42.8 ms
Wall time: 1.66 s

In [25]:
%%time
!samtools view -c $p
!samtools view -c $p2

242473
242473
CPU times: user 55 ms, sys: 21.1 ms, total: 76.1 ms
Wall time: 3.02 s

### Call Y Chromosome using Harald's tool

In [98]:
%%time

df_ch, df_der = call_y_bam(df=df,  path_bam=p2)

Average Coverage: 1.3888x
#Sites covered: 1053/73148
#Derived Loci:
55 / 1053 covered>0
CPU times: user 92.1 ms, sys: 0 ns, total: 92.1 ms
Wall time: 1.92 s

In [27]:
df_der[-50:]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
5,L1137,Y,19047091,C,T,A0-T,NaN,NaN,0,0,0,2,0,2
6,L1125,Y,15467768,A,G,A0-T,NaN,NaN,0,0,59,0,0,59
7,L1121,Y,14496448,G,A,A0-T,NaN,NaN,36,0,0,0,0,36
8,L1120,Y,14496439,G,T,A0-T,NaN,NaN,0,0,0,56,0,56
9,P305,Y,2710154,A,G,A1,NaN,NaN,0,0,32,0,0,32
10,V168,Y,17947672,G,A,A1,NaN,NaN,54,0,0,0,0,54
11,V221,Y,7589303,G,T,A1b,NaN,NaN,0,0,0,33,0,33
12,L1053,Y,18759708,C,A,A1b,NaN,NaN,50,0,0,0,0,50
13,M118,Y,21763965,A,T,A1b1b2b1,NaN,NaN,0,0,0,61,0,61
14,M9379,Y,23244049,G,C,BT,NaN,NaN,0,153,0,0,0,153
15,M42,Y,21866840,A,T,BT,NaN,NaN,0,0,0,22,0,22
16,SRY10831.1,Y,2657176,T,C,BT,NaN,NaN,0,13,0,0,0,13
17,L413,Y,6932831,G,A,BT,PF1409;_V31,NaN,129,0,0,0,0,129
18,P143,Y,14197867,G,A,CF,PF2587,NaN,70,0,0,0,0,70
19,PF1416,Y,14813991,C,T,CT,M168,NaN,0,0,0,39,0,39
20,M294,Y,22744945,C,T,CT,NaN,NaN,0,0,0,27,0,27
21,P14,Y,17398598,C,T,F,PF2704,NaN,0,0,0,1,0,1
22,F1329,Y,8589031,C,T,F,M3658;_PF2622;_YSC0001299,NaN,0,0,0,96,0,96
23,PF2746,Y,21917313,C,T,F,M89,NaN,0,0,0,119,0,119
24,F929,Y,7202703,C,T,HIJK,M578;_PF3494;_S6378,NaN,0,0,0,121,0,121
25,M522,Y,7173143,G,A,IJK,L16;_PF3493;_S138,NaN,192,0,0,0,0,192
26,M9,Y,21730257,C,G,K,PF5506,NaN,0,0,7,0,0,7
27,M526,Y,23550924,A,C,K2,PF5979,NaN,0,264,0,0,0,264
28,PF5911,Y,16222561,C,T,K2b,M1221;_P331,NaN,0,0,0,113,0,113
29,P131,Y,15472863,C,T,K~,PF5493,NaN,0,0,0,8,0,8
30,L405,Y,28731917,A,C,P1~_or_K2b2a~,PF5990,rs9786602,0,1,0,0,0,1
31,PF5962,Y,21867787,G,A,P1~_or_K2b2a~,M45,rs2032631,11,0,0,0,0,11
32,S8,Y,7963031,T,G,P_or_K2b2,P295;_PF5866,rs895530,0,0,62,0,0,62
33,M207,Y,15581983,A,G,R,Page37;_UTY2,NaN,0,0,30,0,0,30
34,PF6112,Y,7570822,G,C,R1,P294,NaN,0,57,0,0,0,57
35,Page29,Y,15026424,A,C,R1,M173;_P241,NaN,0,29,0,0,0,29
36,S1,Y,22750583,C,A,R1,M306;_PF6147,NaN,155,0,1,0,0,155
37,M415,Y,9170545,C,A,R1b,PF6251,NaN,45,0,0,0,0,45
38,M343,Y,2887824,C,A,R1b,PF6242,NaN,182,0,0,0,0,182
39,PF6105,Y,21183643,A,G,R1b,L780;_YSC0000254,NaN,0,0,36,0,0,36
40,L389,Y,28733101,C,G,R1b1a,PF6531,NaN,0,0,7,0,0,7
41,L502,Y,19020340,G,C,R1b1a1,PF6487,NaN,0,178,0,0,0,178
42,P297,Y,18656508,G,C,R1b1a1,PF6398,NaN,0,151,0,0,0,151
43,PF6517,Y,22739367,T,C,R1b1a1b,M269,NaN,0,45,0,0,0,45
44,L757,Y,19054889,C,T,R1b1a1b,PF6488;_V3721;_YSC0000293,NaN,0,0,0,160,0,160
45,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,243,0,1,0,1,243
46,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,138,0,0,0,138
47,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,1,0,147,0,1,147
48,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,5,0,5
49,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,130,0,0,0,130
50,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,71,0,0,0,0,71
51,U152,Y,15333149,C,T,R1b1a1b1a1a2b,PF6570;_S28,NaN,0,0,0,157,0,157
52,S371,Y,16454755,G,T,R1b1a1b1a1a2b3c,PF6578;_Z145,NaN,0,0,0,214,0,214
53,Z146,Y,23627289,C,T,R1b1a1b1a1a2b3c,PF6584;_S483,NaN,0,0,0,172,0,172
54,Z144,Y,14544130,T,G,R1b1a1b1a1a2b3c,NaN,NaN,0,0,137,0,0,137

In [110]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2b3c"]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
401,Z144,Y,14544130,T,G,R1b1a1b1a1a2b3c,NaN,NaN,0,0,137,0,0,137
584,S371,Y,16454755,G,T,R1b1a1b1a1a2b3c,PF6578;_Z145,NaN,0,0,0,214,0,214
1051,Z146,Y,23627289,C,T,R1b1a1b1a1a2b3c,PF6584;_S483,NaN,0,0,0,172,0,172

In [107]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2a~"]

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
1014,L1246,Y,22974840,A,G,R1b1a1b1a1a2a~,S1285,NaN,1,0,0,0,1,0

# C) Run Ganders

## C1) John Gander

In [7]:
%%time
p = "/mnt/archgen/users/hringbauer/brienzi/data/gander_y/IonCode_0104_R_2024_03_27_10_03_43_user_S5XL-0322-182-mt24-004_Auto_user_S5XL-0322-182-mt24-004_452.bam"
p2 = "/mnt/archgen/users/hringbauer/data/brienziYcapture/gander.john.bam" # The rewritten .bam file (in correct chr notation)

CPU times: user 5 s, sys: 2 s, total: 7 s
Wall time: 18.1 s

### One time transformation

In [8]:
!samtools view -h $p | sed 's/chr//g' | samtools view -Shb - -o $p2 # Rewrite chrx->x notation

In [9]:
%%time
!samtools view -c $p
!samtools view -c $p2

500032
500032
CPU times: user 108 ms, sys: 18.6 ms, total: 127 ms
Wall time: 4.98 s

In [11]:
%%time 
### Now Index the file
!samtools index $p2

CPU times: user 51.2 ms, sys: 21.2 ms, total: 72.4 ms
Wall time: 2.48 s

### Call Y Chromosome using Harad's tool

In [66]:
%%time

df_ch, df_der = call_y_bam(df=df,  path_bam=p2)

Average Coverage: 3.8914x
#Sites covered: 1123/73148
#Derived Loci:
57 / 1123 covered>0
CPU times: user 81.7 ms, sys: 24.5 ms, total: 106 ms
Wall time: 2.58 s

In [67]:
df_der

,Name,chrom,pos,ref,alt,Subgroup Name,Alternate Names,rs numbers,A,C,G,T,ref#,alt#
0,L1130,Y,16661010,T,G,A0-T,NaN,NaN,0,0,546,0,0,546
1,L1085,Y,2790726,T,C,A0-T,NaN,NaN,0,3,0,0,0,3
2,L1089,Y,2887280,G,C,A0-T,NaN,NaN,0,95,0,0,0,95
3,L1121,Y,14496448,G,A,A0-T,NaN,NaN,3,0,0,0,0,3
4,L1155,Y,22191266,G,C,A0-T,NaN,NaN,0,871,0,0,0,871
5,L1120,Y,14496439,G,T,A0-T,NaN,NaN,0,0,0,15,0,15
6,L1118,Y,14231291,T,C,A0-T,NaN,NaN,0,7,0,0,0,7
7,L1125,Y,15467768,A,G,A0-T,NaN,NaN,0,0,184,0,0,184
8,L1145,Y,21739790,C,T,A0-T,NaN,NaN,0,0,0,737,0,737
9,L1137,Y,19047091,C,T,A0-T,NaN,NaN,0,0,0,18,0,18
10,P305,Y,2710154,A,G,A1,NaN,NaN,0,0,22,0,0,22
11,V168,Y,17947672,G,A,A1,NaN,NaN,32,0,0,0,0,32
12,V171,Y,4898665,C,G,A1,NaN,NaN,0,0,19,0,0,19
13,L1053,Y,18759708,C,A,A1b,NaN,NaN,63,0,0,0,0,63
14,V221,Y,7589303,G,T,A1b,NaN,NaN,0,0,0,56,0,56
15,M118,Y,21763965,A,T,A1b1b2b1,NaN,NaN,0,0,0,170,0,170
16,SRY10831.1,Y,2657176,T,C,BT,NaN,NaN,0,476,0,0,0,476
17,L1061,Y,22191243,G,A,BT,PF1101,NaN,6,0,0,0,0,6
18,L413,Y,6932831,G,A,BT,PF1409;_V31,NaN,180,0,0,0,0,180
19,M9379,Y,23244049,G,C,BT,NaN,NaN,0,735,0,0,0,735
20,M42,Y,21866840,A,T,BT,NaN,NaN,0,0,0,42,0,42
21,P143,Y,14197867,G,A,CF,PF2587,NaN,1207,0,3,0,3,1207
22,M294,Y,22744945,C,T,CT,NaN,NaN,0,0,0,70,0,70
23,PF1416,Y,14813991,C,T,CT,M168,NaN,0,0,0,260,0,260
24,PF2746,Y,21917313,C,T,F,M89,NaN,0,0,0,208,0,208
25,P14,Y,17398598,C,T,F,PF2704,NaN,0,0,0,7,0,7
26,F1329,Y,8589031,C,T,F,M3658;_PF2622;_YSC0001299,NaN,0,0,0,76,0,76
27,PF2618,Y,8474189,A,C,F,P160,NaN,0,1,0,0,0,1
28,F929,Y,7202703,C,T,HIJK,M578;_PF3494;_S6378,NaN,0,0,0,472,0,472
29,M522,Y,7173143,G,A,IJK,L16;_PF3493;_S138,NaN,38,0,0,0,0,38
30,M9,Y,21730257,C,G,K,PF5506,NaN,0,0,10,0,0,10
31,M526,Y,23550924,A,C,K2,PF5979,NaN,0,586,0,0,0,586
32,PF5911,Y,16222561,C,T,K2b,M1221;_P331,NaN,0,1,0,528,1,528
33,P131,Y,15472863,C,T,K~,PF5493,NaN,0,0,0,6,0,6
34,PF5962,Y,21867787,G,A,P1~_or_K2b2a~,M45,rs2032631,10,0,0,0,0,10
35,L405,Y,28731917,A,C,P1~_or_K2b2a~,PF5990,rs9786602,0,2,0,0,0,2
36,PF5963,Y,21889767,G,A,P1~_or_K2b2a~,M74;_N12,rs2032635,3,0,0,0,0,3
37,S8,Y,7963031,T,G,P_or_K2b2,P295;_PF5866,rs895530,0,0,36,0,0,36
38,M207,Y,15581983,A,G,R,Page37;_UTY2,NaN,0,0,28,0,0,28
39,S1,Y,22750583,C,A,R1,M306;_PF6147,NaN,79,0,1,0,0,79
40,PF6112,Y,7570822,G,C,R1,P294,NaN,0,696,0,0,0,696
41,Page29,Y,15026424,A,C,R1,M173;_P241,NaN,0,54,0,0,0,54
42,Y34259,Y,18862893,A,T,R1a1a1b2a1a1a1e1~,NaN,NaN,0,0,0,1,0,1
43,M343,Y,2887824,C,A,R1b,PF6242,NaN,287,0,0,0,0,287
44,M415,Y,9170545,C,A,R1b,PF6251,NaN,278,0,1,0,0,278
45,PF6105,Y,21183643,A,G,R1b,L780;_YSC0000254,NaN,0,0,51,0,0,51
46,L389,Y,28733101,C,G,R1b1a,PF6531,NaN,0,0,25,0,0,25
47,L502,Y,19020340,G,C,R1b1a1,PF6487,NaN,0,641,0,0,0,641
48,P297,Y,18656508,G,C,R1b1a1,PF6398,NaN,0,625,0,0,0,625
49,PF6517,Y,22739367,T,C,R1b1a1b,M269,NaN,0,23,0,0,0,23
50,L757,Y,19054889,C,T,R1b1a1b,PF6488;_V3721;_YSC0000293,NaN,0,0,0,724,0,724
51,S167,Y,8502236,G,A,R1b1a1b1a,L51;_M412;_PF6536,NaN,757,0,0,0,0,757
52,S128,Y,18248698,A,G,R1b1a1b1a1,P311;_PF6545,NaN,0,0,423,0,0,423
53,S129,Y,18907236,A,C,R1b1a1b1a1,P310;_PF6546,NaN,0,639,0,0,0,639
54,PF6541,Y,14641193,C,T,R1b1a1b1a1,L52,NaN,0,0,0,21,0,21
55,L11,Y,17844018,T,C,R1b1a1b1a1a,NaN,NaN,0,464,0,0,0,464
56,P312,Y,22157311,C,A,R1b1a1b1a1a2,PF6547;_S116,NaN,278,0,0,0,0,278

In [65]:
df_ch[df_ch["Subgroup Name"]=="R1b1a1b1a1a2h"]

Empty DataFrame
Columns: [Name, chrom, pos, ref, alt, Subgroup Name, Alternate Names, rs numbers, A, C, G, T, ref#, alt#]
Index: []

In [ ]:
R1b1a1b1a1a2a1
R1b1a1b1a1a2a1a2

In [ ]:
df_der

# Summary
## Background Info
R1b1a1b1a1a2: 
R1b-P312

Trifurcates into:

- R1b1a1b1a1a2a: DF27 (Brienzi)
- R1b1a1b1a1a2b: U152  (Modern Hugglers, further derived  R1b1a1b1a1a2b3c)
- R1b1a1b1a1a2c1: L21


## Ancient Brienzi:
- Extract 1: R1b1a1b1a1a2a (1 Marker derived, clear path)
- Extract 2: R1b1a1b1a1a2a (1 Marker derived, clear path)

Notably, Z195 (R1b1a1b1a1a2a1) ancestral

## Modern Hugglers
- Individual 1 (2022): R1b1a1b1a1a2b3c (3 SNPs derived)
- Individual 2 (January 2023): R1b1a1b1a1a2b3c (3 SNPs derived)
- Individual 3 (November 2023): R1b1a1b1a1a2b3c (3 SNPs derived)

## Modern Ganders
- John Gander:
Marker U152 ancestral (R1b1a1b1a1a2b, Huggler)
Marker L21 ancestral (R1b1a1b1a1a2c1)

So must be DF27:
Z195 (subgroup of DF27) ancestral (R1b1a1b1a1a2a1)